@import url('https://fonts.cdnfonts.com/css/mona-sans?styles=144343,144355,144329');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mona Sans', sans-serif;
}

body {
    background-image: url(/assets/granulado.png);
    background-color: #1d1d1d;
    min-height: 200vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

header.sticky {
    padding: 10px 100px;
    background-color: #fff;
}

header.sticky .logo,
header.sticky ul li a {
    color: black;
}

header .logo{
    position: relative;
    font-weight: 800;
    color: #000;
    text-decoration: none;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #1d1d1d;
    letter-spacing: 2px;
    font-weight: 600px;
    transition: 0.6s;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(/assets/granulado.png);
  background-color: #1d1d1d;
}

.banner .scroll-down {
  position: absolute;
  color: #fff;
  font-size: 1.5rem;
  margin-top: 800px;
  animation: scrollAnimation 1.5s infinite alternate;
}


@keyframes scrollAnimation {
  0% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(10px);
  }
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .texto-principal {
    color: #fff;
    font-size: 2.5rem;
}

/* BUTTON */

.coverButton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.glow-on-hover {
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 17px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@media (max-width: 800px){
    .glow-on-hover{
        justify-content: center;
    }
}

/* NUEVO EFECTO TYPE */

.texto-principal .typed {
  padding: 5;
}


.container-text .mascota {
  color: white;
  font-size: 2rem;
}


/* MEDIA QUERIE NUEVA ANIMACION */

@media (max-width: 800px){
  .container-text .titulo, .container-text .mascota {
      font-size: 40px;
  }
}


/* MEDIA QUERIE */

@media (max-width: 800px){
  .cover h1, .cover h2{
      font-size: 60px;
      padding: 3px 0;
  }
  .cover_atributes .static-txt, .dinamic-txt li{
      font-size: 40px;
  }
  .cover p{
      font-size: 15px;
  }
  /* .glow-on-hover{
      width: 90px;
      height: 50px;
      font-size: 15px;
  } */
  .cards-intro p{
      font-size: 10px;
  }
}


/* SECTION ABOUT ME */

#aboutMe {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_container {
  width: 100%;
  padding: 50px 8%;
}

.about_container .about_contents {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-gap: 70px;
}

.about_contents .imageSection {
  position: relative;
  min-width: 300px;
  height: 480px;
}

.imageSection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 2;
}

.about_contents .imageSection::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  outline: 3px solid #48ff00;;
  top: 15px;
  left: 15px;
  z-index: 1;
}

.infoSection h1 {
  font-size: 3rem;
  font-weight: 800;
  display: inline-block;
  margin-bottom: 5px;
  position: relative;
  color: white;
}

.infoSection h1::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
  background-color: #48ff00;;
}


.infoSection h2 {
  font-size: 1.7rem;
  font-weight: 500;
  color: white;
  padding: 5px 0px 5px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.infoSection p {
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
  text-align: justify;
  padding-bottom: 10px;
}

/* SKILLS */

.skillsSection h2 {
  font-size: 1.25rem;
  font-weight: 800;
}

.skills-list {
	margin-top: 1rem;
}

.skills-list {
	margin-top: 1rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1rem;
	column-gap: 1rem;
	row-gap: .5rem;
}

ol, ul {
	list-style-type: none;
  color: #fff;
}

.skill {
	background-color: #2b2b2b;
	padding: .5rem .75rem;
  margin-top: 5px;
	border-radius: .25rem;
	border: 1px solid white;
	transition: .2s;
}

/* PORTFOLIO */

#proyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#proyectos .section {
	padding-top: 6rem;
}

.proyectosContainer {
	max-width: 1000px;
	margin: 0 auto;
	padding-inline: 1.5rem;
  width: 100%;
  padding: 50px 8%;
}

#proyectos .section-title {
  text-align: center;
  color: white;
	font-size: 3rem;
}

.section-title:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: 115%;
  left: 0;
  background-color: #48ff00;;
}

.paragraph {
  text-align: center;
  color: white;
	margin-bottom: 1em;
	font-size: 1.4rem;
}

.projects-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
  color: #fff;
}

.project {
	background-color: #2b2b2b;
	padding: 2rem;
	border-radius: .25rem;
	border: 1px solid rgb(134, 134, 134);
	transition: .2s;
}

#proyectos .project-icons {
  color: white;
	display: flex;
	justify-content: end;
	gap: 1rem;
	margin-bottom: 1rem;
}

.project-skills {
	gap: .5rem;
	margin-top: 1.4rem;
}

.project-title {
	margin-bottom: 1rem;
	transition: .2s;
}

.skills-list {
	margin-top: 1rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1rem;
	column-gap: 1rem;
	row-gap: .5rem;
}

.project-skills .skill {
	padding: .25rem .5rem;
	border-radius: .25rem;
}

/* SERVICIOS */


#servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: -20px;
}

.servicios-title {
  color: white;
  font-size: 3rem;
}

.containerCards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 60px 0;
  gap: 60px;
  margin-top: -40px;
}

.containerCards .box {
  position: relative;
  width: 300px;
  height: 350px;
  background-color: #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerCards .box::before {
  content: '';
  position: absolute;
  inset: -10px 50px;
  border-bottom: 4px solid #48ff00; 
}

.containerCards .box .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.containerCards .box .content .icon {
  color: #48ff00;
  width: 80px;
  height: 80px;
  box-shadow: 0 0 0 4px #2e2e2e,
  0 0 0 6px #48ff00;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  background: #2e2e2e;
  transition: 0.5s ease-in-out;
}

.containerCards .box:hover .content .icon {
  background: #48ff00;
  color: #2e2e2e;
  box-shadow: 0 0 0 4px #2e2e2e,
  0 0 0 300px #48ff00;
}

.containerCards .box .content .text h3 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
  transition: 0.5s ease-in-out;
}

.containerCards .box:hover .content .text h3 {
  color: #2e2e2e;
}

.containerCards .box .content .text p {
  color: #999;
  transition: 0.5s ease-in-out;
}

.containerCards .box:hover .content .text p {
  color: #2e2e2e;
}

.containerCards .box .content .text a {
  position: relative;
  background: #48ff00;
  padding: 8px 15px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  transition: 0.5s ease-in-out;
}

.containerCards .box:hover .content .text a {
  background: #2e2e2e;
  color: #48ff00;
}
